blinker==1.4
docutils==0.13.1
feedgenerator==1.9
ghp-import==0.5.4
husl==4.0.3
Jinja2==2.9.5
MarkupSafe==0.23
pelican==3.7.1
pycparser==2.14
Pygments==2.2.0
PyRSS2Gen==1.1
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
termcolor==1.1.0
timed==0.35
Unidecode==0.4.20
virtualenv-clone==0.2.6
Yapsy==1.11.223
