/* Artfully masterminded by ZURB  */
/* line 6, ../../sass/pysprings.scss */
.pysprings-preheader {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  background-color: white;
}

/* line 14, ../../sass/pysprings.scss */
.pysprings-header {
  display: block;
  text-indent: -9999px;
  background: url(../img/pysprings-logo.png) 20px 100% no-repeat;
  height: 93px;
  width: 375px;
  overflow: hidden;
  text-decoration: none;
  padding: 85px 0px 10px 0px;
  display: block;
}

/* line 26, ../../sass/pysprings.scss */
.pysprings-tags {
  font-family: "PermanentMarkerRegular", "sans-serif";
  color: #faa524;
}

/* line 31, ../../sass/pysprings.scss */
.pysprings-tags ul {
  list-style-type: none;
}

/* line 35, ../../sass/pysprings.scss */
.pysprings-tags ul li {
  display: inline-table;
  padding: 0px 10px 0px 0px;
}

/* line 41, ../../sass/pysprings.scss */
.pysprings-tags ul li a {
  color: #faa524;
  font-size: 21px;
}

/* line 46, ../../sass/pysprings.scss */
.pysprings-social ul {
  list-style-type: none;
}

/* line 50, ../../sass/pysprings.scss */
.pysprings-social ul li {
  display: inline-table;
}

/* line 54, ../../sass/pysprings.scss */
.pysprings-sponsor ul {
  list-style-type: none;
}

/* line 58, ../../sass/pysprings.scss */
.pysprings-sponsor ul li {
  display: inline-table;
}

/* line 62, ../../sass/pysprings.scss */
.pysprings-sidebar h2 {
  padding: 30px 0px 0px 0px;
}

/* line 66, ../../sass/pysprings.scss */
body {
  background: white;
}

/* line 76, ../../sass/pysprings.scss */
.pysprings-footer {
  font-size: 10px;
  text-align: center;
}

/* line 81, ../../sass/pysprings.scss */
.menu-container {
  padding: 0px 0px 10px 10px;
  height: 45px;
  bottom: 0;
}

/* menu */
/* line 88, ../../sass/pysprings.scss */
.menu {
  font-family: "neuropolregular", "sans-serif";
  padding: 10px 0px 0px 0px;
  margin: 0;
  display: block;
  text-align: left;
  height: 35px;
  bottom: 30px;
}

/* line 99, ../../sass/pysprings.scss */
.menu ul {
  background: none;
  padding: 0;
  margin: 0 auto;
  float: none;
  display: inline-table;
  border-radius: 10px;
}

/* line 107, ../../sass/pysprings.scss */
.menu ul li {
  float: left;
  background: none;
  margin-right: 1px;
  display: inline;
}

/* line 113, ../../sass/pysprings.scss */
.menu li a:link, .menu li a:visited {
  font-size: 25px;
  display: block;
  color: #759236;
  padding: 2.5px 16.66667px;
  text-decoration: none;
  text-transform: capitalize;
}

/* line 121, ../../sass/pysprings.scss */
.menu a.active:link, a.active:active, a.active:visited {
  color: #fff !important;
  text-shadow: none;
  background: #759236;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

/* line 129, ../../sass/pysprings.scss */
.menu li a:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #759236;
}

/* sub-menu */
/* line 139, ../../sass/pysprings.scss */
.sub-menu-container {
  padding: 0px 0px 10px 10px;
  height: 45px;
  bottom: 0;
  width: 100% !important;
  position: relative;
}

/* line 146, ../../sass/pysprings.scss */
.sub-menu {
  font-family: "PermanentMarkerRegular", "sans-serif";
  padding: 0px 0px 20px 10px;
  margin: 0;
  display: block;
  text-align: left;
  height: 40px;
  background: #759236;
  width: 100% !important;
  position: relative;
}

/* line 161, ../../sass/pysprings.scss */
.sub-menu ul {
  background: none;
  padding: 0;
  margin: 0 auto;
  float: none;
  display: inline-table;
  border-radius: 10px;
}

/* line 170, ../../sass/pysprings.scss */
.sub-menu ul li {
  float: left;
  background: none;
  margin-right: 1px;
  display: inline;
}

/* line 177, ../../sass/pysprings.scss */
.sub-menu li a:link, .sub-menu li a:visited {
  font-size: 20px;
  display: block;
  color: #faa524;
  padding: 2px 13.33333px;
  text-decoration: none;
  text-transform: capitalize;
}

/* line 186, ../../sass/pysprings.scss */
.sub-menu a.active:link, a.active:active, a.active:visited {
  color: #fff !important;
  text-shadow: none;
  background: #759236;
}

/* line 193, ../../sass/pysprings.scss */
.sub-menu li a:hover {
  cursor: pointer;
  color: #fcce88;
  text-shadow: none;
}

/* line 199, ../../sass/pysprings.scss */
.article-header {
  margin-top: 14px;
  margin-bottom: 14px;
}

/* line 204, ../../sass/pysprings.scss */
.article-header h1, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 208, ../../sass/pysprings.scss */
.article-header h4, h6, abbr {
  font-family: "Cantarell", "sans-serif";
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* line 216, ../../sass/pysprings.scss */
ul {
  list-style-position: inside;
}
